* {
    font-family: 'Poppins';
}
.header {
    text-align: center;
    padding: 10px;
    background-color: #FFB22C;
    color: white;
}

.wrapper {
    background-color: #FEF3E2;
    min-height: 100vh; /* ✅ ini solusi utamanya */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* Pastikan .content bisa mengisi ruang di antara header dan footer */
.content {
    flex: 1;
    margin: 5px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%; /* ganti dari 100vh ke 100% */
}

.input {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.input input {
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 0 0;
}

.button {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 250px;
}

.button button {
    background-color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
}

.button button:hover {
    background-color: #F3C623;
    color: white;
}

footer {
    background-color: white;
    text-align: center;
    padding: 10px;

}


